body {
  padding-top: 50px;
}

/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}


.kw {
    color: #800080;
}
.nu {
    color: #dda500;
}
.sym {
    color: #0033aa;
}
a span.sym {
    font-weight: bold;
}
.str {
    color: #dd2200;
}
.ty {
    color: #347C17;
}
.binding {
    background-color: #ddd;
}
pre a {
    text-decoration: none;
}
header {
    background-color: #646D7E;
    border-bottom: 1px thin #000;
    padding: 20px 20px 20px 20px;
}
header a {
    color: #88aaff;
}
pre.header {
    margin:       0.5em 0 0 0;
    padding-top:  3px;
    padding-left: 3px;
}
pre.body {
    margin:         0;
    padding-left:   3px;
    padding-bottom: 3px;
}

#buttonToggleBody {
    border: 1px thin #000;
    background-color: #eee;
    color: #000;
    padding: 5px 5px 5px 5px
}
